<form action="">
    <div id="avatar" class="avatar avatar-big margin-bottom-50 pointer content-center-wrapper">
        <div class="hide link">Загрузить</div>
    </div>
    <div>
        {{{inputName}}}
    </div>
    <div>
        {{{inputSecondName}}}
    </div>
    <div>
        {{{inputPhone}}}
    </div>
    <div>
        {{{inputLogin}}}
    </div>
    <div>
        {{{inputEmail}}}
    </div>
    <div>
        {{{inputPassword}}}
    </div>
    <div>
        {{{inputDisplayName}}}
    </div>
    <div>
        {{{button}}}
    </div>

</form>