<div class="{{containerClassName}}" id="{{id}}">
	<input  type="{{type}}" class="{{className}}" placeholder="{{placeholder}}" name="{{name}}" value="{{value}}">
	<div class="error-message-container">
		<div class="{{errorVisibility}}">
			{{{errorText}}}
		</div>
	</div>