<div class="flex-element-align-items-center {{className}}">
	<div class="margin-right-25">
		{{{avatar}}}
	</div>
	<div>
		<div class="chat-item-name">
			{{name}}
		</div>
		<div class="chat-item-description">
			{{description}}
		</div>
	</div>
	<div class="flex-element-align-right text-align-right">
		<div class="description">
			{{date}}
		</div>
		{{{badge}}}
	</div>

</div>