<form action="">
	<div>
		{{{inputName}}}
	</div>
	<div>
		{{{inputSecondName}}}
	</div>
	<div>
		{{{inputPhone}}}
	</div>
	<div>
		{{{inputLogin}}}
	</div>
	<div>
		{{{inputEmail}}}
	</div>
	<div>
		{{{inputPassword}}}
	</div>
	<div>
		{{{inputPassword2}}}
	</div>
	<div>
		{{{button}}}
	</div>
</form>