<html>
    <head>
        <link rel="stylesheet" href="./profile.scss">
    </head>
    <body>
    <div class="content-center-wrapper padding-15">
        <div class="profile_container">
            <div class="header text-align-center">
                Персональные данные
            </div>
            <div>
                <form action="">
                    <div class="avatar margin-bottom-50 pointer content-center-wrapper">
                        <div class="hide link">Загрузить</div>
                    </div>

                    <div class="profile-item">
                        <div class="width-50-percent label">Имя</div>
                        <div class="flex-element-align-right">
                             <input type="text" value={{profile.first_name}} class="profile-input" placeholder="Имя" name="first_name">
                        </div>
                    </div>
                    <div class="profile-item">
                        <div class="width-50-percent label">Фамилия</div>
                        <div class="flex-element-align-right">
                             <input type="text" value={{profile.second_name}} class="profile-input" placeholder="Фамилия" name="second_name">
                        </div>
                    </div>
                    <div class="profile-item">
                        <div class="width-50-percent label">Телефон</div>
                        <div class="flex-element-align-right">
                             <input type="text" value={{profile.phone}} class="profile-input" placeholder="Телефон" name="phone">
                        </div>
                    </div>
                    <div class="profile-item">
                        <div class="width-50-percent label">Логин</div>
                        <div class="flex-element-align-right">
                             <input type="text" value={{profile.login}} class="profile-input" placeholder="Логин" name="login">
                        </div>
                    </div>
                    <div class="profile-item">
                        <div class="width-50-percent label">Почта</div>
                        <div class="flex-element-align-right">
                             <input type="text" value={{profile.email}} class="profile-input" placeholder="Почта" name="email">
                        </div>
                    </div>
                    <div class="profile-item">
                        <div class="width-50-percent label">Имя в чате</div>
                        <div class="flex-element-align-right">
                             <input type="text" value={{profile.display_name}} class="profile-input" placeholder="Логин" name="display_name">
                        </div>
                    </div>  
                    <div class="margin-top-25 margin-bottom-25">
                        <a href="/src/pages/profile/editpass.hbs" class="link">Изменить пароль</a>
                    </div>                 
      
                    <div class="profile-data-item">
                        <button class="button">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{> modal}}

      


    <script src="./edit.js" type="module"></script>
    </body>
</html> 